{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script>
    $(function () {
        total_s();
    });
    //计算小计
    function total_s() {
        $('.col07').each(function () {
            $price=$(this).siblings('.col05').text();
            $count=$(this).siblings('.col06').text();
            total10=parseFloat($count)*parseFloat($price); //小计
            $(this).text(total10.toFixed(2) + '元');
        });
    }
</script>
{% endblock head %}
{% block body %}
	<h3 class="common_title">确认收货地址</h3>
	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<span><input type="radio" name="" checked="checked"></span>
		当前地址：<span class="user_info_check">{{ user.uaddress }}</span>
        收件人：<span class="user_info_check">{{ user.ushou }}</span>
        电话：<span class="user_info_check">{{ user.uphone }}</span>
		</dl>
		<a href="/user_center_site/" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品单价</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		{% for cart in carts %}
		<ul class="goods_list_td clearfix" id="{{ cart.id }}">
			<li class="col01">{{ forloop.counter }}</li>
            <li class="col02"><a href="/itemId={{cart.goods.id}}" target="_blank" title="{{cart.goods.gtitle}}"><img src="/static/media/{{cart.goods.gpic}}/"></a></li>
            {% if cart.goods.gtitle|length >= 12 %}
            <li class="col03"><a href="/itemId={{cart.goods.id}}" target="_blank" title="{{cart.goods.gtitle}}">{{cart.goods.gtitle|slice:'12'}}...</a></li>
            {% else %}
            <li class="col03"><a href="/itemId={{cart.goods.id}}" target="_blank" title="{{cart.goods.gtitle}}">{{ cart.goods.gtitle }}</a></li>
            {% endif %}
			<li class="col04">{{cart.goods.gunit}}</li>
			<li class="col05">{{ cart.goods.gprice }}元</li>
			<li class="col06">{{ cart.count }}</li>
			<li class="col07"></li>
		</ul>
        {% endfor %}
	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em id="total_count">{{ carts|length }}</em>件商品，总金额<b id="total">{{total_price}}</b></div>
			<div class="transit">运费：<b>{{trans_cost}}元</b></div>
			<div class="total_pay">实付款：<b>{{total_trans_price}}元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>	


	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
<script>
    $('#order_btn').click(function () {
        // 检查收货地址
        $('.user_info_check').each(function () {
            text = $(this).text();
            number = 0;
            if (text == ''){
                number = 1;
            }
        });
        if(number == 1){
            alert("请填写正确的收货地址");
            window.location.href('/user_center_site/');
        }
        //获取所有id，拼接成字符串
        cartids = '';
        $('.goods_list_td').each(function () {
            cartids = cartids + $(this).attr('id') + ',';
        });
        // 去掉最后一个,
        cartids = cartids.substring(0,cartids.length-1);
        total = {{ total_trans_price }}

        data = {
            'cart_ids':cartids,
            'total':total,
            'csrfmiddlewaretoken':'{{ csrf_token }}'
        };

        //先发请求
        $.post('/order_handle/',data,function (data) {
            //成功
            if(data.ok == 1){
                localStorage.setItem('order_finish',2);
                $('.popup_con').fadeIn('fast',function () {
                    setTimeout(function () {
                        $('.popup_con').fadeOut('fast',function () {
                            window.location.href = '/user_center_order/1/'
                        });
                    },2000);
                });
            }
        });
    });
</script>

<!--点击浏览器的返回按钮让页面刷新，防止购物车删除产品点击结算后页面后退到购物车删除产品还在的情况-->
<script type="text/javascript" src='{% static "js/jquery.cookie.min.js" %}'></script>
<script>
     $(function(){
        //这里的first_vist可以是任意的值,反正我们是获取不到这个值的。打印一下，发现获取不到的cookie为null
        $first=$.cookie('first_vist');
        if(!$first||$first=='null'||$first==null){
            //第一次进页面，肯定是没有cookie的，所以这里设置cookie的值为1，时间为7天
            $.cookie('first_vist','1',{ expires: 7 });
        }else{
            //然后等下次回到页面，肯定会取到cookie的值，然后我们就反其道而行，给cookie赋值为null，同时刷新页面
            $.cookie('first_vist',null);
            location.reload(true);
        }
    });
</script>
{% endblock body %}