{% extends 'base_footer.html' %}
{% load staticfiles %}
{% block head %}
    <script>
        $(function () {
            $('#jiahao').click(function () {
                num = parseFloat($('#shuliang').val());
                $('#shuliang').val(num+1);
                $('#shuliang').blur();
            });
            $('#jianhao').click(function () {
                num = parseFloat($('#shuliang').val());     //专门用于把字符串转换成数值
                if (num > 1){
                    $('#shuliang').val(num-1);
                    $('#shuliang').blur();
                }
            });
            $('#shuliang').blur(function () {
                num = parseInt($('#shuliang').val());     //val() 方法返回或设置被选元素的值。
                if(num){        //如果不为空
                    if (num < 1)        //如果小于1
                        num = 1;
                    price = parseFloat($('#gprice').text());    //text() 方法方法设置或返回被选元素的文本内容。
                    total = num * price;
                    $('#shuliang').val(num);
                    $('#gtotal').text(total.toFixed(2) + '元');  //toFixed(num) 方法可把原来的数四舍五入为小数位数为num的数字。
                } else {
                    $('#shuliang').val(1);
                    price = parseFloat($('#gprice').text());    //text() 方法方法设置或返回被选元素的文本内容。
                    total = 1.0 * price;
                    $('#gtotal').text(total.toFixed(2) + '元');  //toFixed(num) 方法可把原来的数四舍五入为小数位数为num的数字。
                }
                }
            );
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;
            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;
            $('#add_cart').click(function(){
                $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                if ($('.login_btn').text().indexOf('登录') >= 0){
                    alert("请先登录后再购买");
                    location.href = '/login/';
                    return;
                }
                //动画
                $(".add_jump").stop().animate({
                    'left': $to_y+7,
                    'top': $to_x+7},
                    "fast",
                    function() {
                        $(".add_jump").fadeOut('fast'
                        //     function(){
                        //     $('#show_count').html();
                        // }
                        );
                    }
                );
                //异步ajax
                s1();
            });
            function s1() {
                num = parseInt($('.num_show').val());
                $.get('/cart/add{{goods.id}}_' + num + '/', function (data) {
                    $('#show_count').text(data.count);
                });
            }
        })
    </script>

    {% if request.session.user_name|default:'' != '' %}
        <script>
            f();
            function f() {  //进入页面时刷新购物车数量  规定此时商品id和数量都为0
                 $.get('/cart/add0_0/', function (data) {
                    $('#show_count').text(data.count);
                });
            }
        </script>
    {% endif %}
{%endblock head%}
{% block body %}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<!--<div class="login_info fl">-->
					<!--欢迎您：<em>张 山</em>-->
				<!--</div>-->
				{% if request.session.user_name|default:'' != '' %}
                <div class="login_btn fl">
                        <a>欢迎您：</a>
                        <a style="color: #ff6600;">{{request.session.user_name}}</a>
                        <span>|</span>
                        <a href="/logout/">注销</a>
                    </div>
                {% else %}
				<div class="login_btn fl">
					<a href="/login/">登录</a>
					<span>|</span>
					<a href="/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'index' %}" class="logo fl"><img src='{% static "images/logo.png" %}'></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{goods.gtype.ttitle}}</a>
		<span>></span>
        {% if goods.gtitle|length >= 20 %}
        <span>{{goods.gtitle|slice:'20'}}...</span>
        {% else %}
		<span>{{goods.gtitle}}</span>
        {% endif %}
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img style="width: 350px;height: 350px;" src="/static/media/{{goods.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
            {% if goods.gjianjie|length >= 115 %}
            <p>{{goods.gjianjie|slice:'115'}}......</p>
            {% else %}
			<p>{{goods.gjianjie}}</p>
            {% endif %}
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" id="shuliang">
					<a href="javascript:;" class="add fr" id="jiahao">+</a>
					<a href="javascript:;" class="minus fr" id="jianhao">-</a>
				</div> 
			</div>
			<div class="total">总价：<em id="gtotal">{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
                        {% for new in news %}
						<a href="/itemId={{ new.id }}"><img src="/static/media/{{new.gpic}}"></a>
						<h4><a href="/itemId={{ new.id }}">{{new.gtitle}}</a></h4>
						<div class="prize">￥{{new.gprice}}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.gcontent|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
<div class="add_jump"></div>
{% endblock body %}
