{% extends 'base_footer.html' %}
{% load staticfiles %}
{% block body %}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<!--<div class="login_info fl">-->
					<!--欢迎您：<em>张 山</em>-->
				<!--</div>-->
				{% if request.session.user_name|default:'' != '' %}
                <div class="login_btn fl">
                        <a>欢迎您：</a>
                        <a style="color: #ff6600;">{{request.session.user_name}}</a>
                        <span>|</span>
                        <a href="/logout/">注销</a>
                    </div>
                {% else %}
				<div class="login_btn fl">
					<a href="/login/">登录</a>
					<span>|</span>
					<a href="/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user_center_order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'index' %}" class="logo fl"><img src='{% static "images/logo.png" %}'></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'index' %}">首页</a>
		<span>></span>
		<a href="/list{{typeinfo.id}}_1_1/">{{typeinfo}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in news %}
					<li>
						<a href="/itemId={{ new.id }}" title="{{new.gtitle}}"><img src="/static/media/{{new.gpic}}" alt="{{new.gtitle}}"></a>
						<h4><a href="/itemId={{ new.id }}" title="{{new.gtitle}}">{{new.gtitle}}</a></h4>
						<div class="prize">￥{{new.gprice}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{typeinfo.id}}_1_1/"
                   {% if sort == '1' %}
                   class="active"
                    {% endif %}
                >默认</a>
				<a href="/list{{typeinfo.id}}_1_2/"
                 {% if sort == '2' %}
                   class="active"
                    {% endif %}
                >价格</a>
				<a href="/list{{typeinfo.id}}_1_3/"
                 {% if sort == '3' %}
                   class="active"
                    {% endif %}
                >人气</a>
                <a style="float: right;">共{{goods_list|length}}条数据  第{{page.number}}页/共{{paginator.num_pages}}页</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for g in page %}
				<li>
					<a href="/itemId={{g.id}}" title="{{g.gtitle}}"><img src="/static/media/{{g.gpic}}" alt="{{g.gtitle}}"></a>
					<h4><a href="/itemId={{g.id}}" title="{{g.gtitle}}">{{g.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{g.gprice}}</span>
                        {% if g.gunit|length >= 10 %}
                        <span class="unit" title="{{g.gunit}}">{{g.gunit|slice:'10'}}...</span>
                        {% else %}
						<span class="unit" title="{{g.gunit}}">{{g.gunit}}</span>
                        {% endif %}
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
            {% if page.has_previous %}
                <a href="/list{{typeinfo.id}}_1_{{sort}}/">首页</a>
				<a href="/list{{typeinfo.id}}_{{page.previous_page_number}}_{{sort}}/">&lt;上一页</a>
            {% else %}
                <a>首页</a>
                <a>&lt;上一页</a>
			{% endif %}
            {% if page.number <= 3 %}
                {% for num in paginator.page_range %}
                    {% if forloop.counter <= 5 %}
                        {% ifnotequal num page.number %}
                        <a href="/list{{ typeinfo.id }}_{{num}}_{{sort}}/" >{{num}}</a>
                        {% endifnotequal %}
                            <!--如果当前页码数和num相等，则不会出现连接地址，也不能点击，并且加上背景色样式-->
                            {% ifequal num page.number %}
                                <a class="active">{{num}}</a>
                            {% endifequal %}
                    {% endif %}
                {% endfor %}

            {% else %}
                {% if page.number|add:1 > paginator.num_pages %}
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:-4}}_{{sort}}/">{{page.number|add:-4}}</a>
                {% endif %}
                {% if page.number|add:2 > paginator.num_pages %}
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:-3}}_{{sort}}/">{{page.number|add:-3}}</a>
                {% endif %}
                <a href="/list{{ typeinfo.id }}_{{page.number|add:-2}}_{{sort}}/">{{page.number|add:-2}}</a>
                <a href="/list{{ typeinfo.id }}_{{page.number|add:-1}}_{{sort}}/">{{page.number|add:-1}}</a>
                <a class="active">{{ page.number }}</a>
                {% if page.number|add:1 <= paginator.num_pages %}
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:1}}_{{sort}}/">{{page.number|add:1}}</a>
                {% endif %}
                {% if page.number|add:2 <= paginator.num_pages %}
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:2}}_{{sort}}/">{{page.number|add:2}}</a>
                {% endif %}
            {% endif %}
            {% if page.has_next %}
				<a href="/list{{typeinfo.id}}_{{page.next_page_number}}_{{sort}}/">下一页&gt;</a>
                <a href="/list{{typeinfo.id}}_{{paginator.num_pages}}_{{sort}}/">末页</a>
            {% else %}
                <a>下一页&gt;</a>
                <a>末页</a>
            {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}